.footer {
    height: 350px;
    background-color: #90D4C6;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__logo {
    fill: #2C7566;
    scale: 1.4;
    transition: 0.3s ease-in-out;

    &:hover {
        scale: 1.6;
    }
}

.footer__pages_links {
    & > * {
        text-decoration: none;
        color: #458D7E;
        font-size: 18px;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.129px;
        transition: 0.2s ease;

    &:hover {
        color: #fff;
        scale: 1.1
    }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    gap: 30%;
    margin-top: 50px;
    margin-bottom: 80px;
}

.footer__social_links{ 
    display: flex;
    justify-content: space-between;
    width: 230px;
    
     &> * {
        fill: #2C7566;

        &> :hover {
            fill: #fff;
        }
    }

    
}

@media (max-width: 750px) {
    .footer__pages_links {
        
    }
}