@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    font-family: 'Manrope', sans-serif;
    background-image: url('../assets/images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -45%;
}