@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #83869A;
    overflow-x: hidden;
}

.wrapper {
    padding: 24px 165px 0 165px;
    margin: 0 auto;
    max-width: 1440px;
}

button {
    cursor: pointer;
    color: #fff;
}

/* ========== HEADER NAV ======== */

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
}

.nav_logo {
    height: 28px;
}

.nav_btn {
    width: 167px;
    height: 56px;
    background: #13183F;
    border-radius: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
}

.nav_btn:hover {
    background: #666CA3;
}

/* ========== HEADER CONTENT CONTAINER ======== */

.header__container {
    display: flex;
}

.header__hero_img {
    position: absolute;
    right: -80px;
    top: -150px;
    z-index: -1;
    width: 991.63px;
    height: 936.92px;
}

.content {
    max-width: 457px;
    max-height: 359px;
}


.content__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
}

.content__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    margin-right: 12px;
    margin-top: 29px;
    margin-bottom: 40px;
}

.container__btn {
    width: 167px;
    height: 63px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
}

.container__btn:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

/* ========== MAIN COURSES TABLET ======== */

.main {
    margin-top: 228px;
}

.tablet__container {
    max-width: 1110px;

}

.tablet__container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.course {
    max-width: 350px;
    max-height: 322px;
    padding: 64px 32px;
    background-color: #fff;
    border-radius: 15px;
} 

.course__img {
    margin-top: -90px;
    margin-bottom: 32px;
}

.course__intro {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    color: #FFFFFF;
}

.course__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
}

.course__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #83869A;
    margin: 24px 0;
}

.course:nth-child(n){
    margin-bottom: 56px;
}

.course:nth-child(n+3):nth-child(-n+4) .course__description {
    margin-bottom: 52px;
}

.course__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #F74780;
    text-decoration: none;
}

.course__link:hover {
    color: #FFA7C3;
}

/* ========== FOOTER ======== */

.footer {
    background-color: #13183F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 120px;
    padding: 32px 165px;
}

.footer__logo {
    height: 28px;
}

.footer__btn {
    width: 167px;
    height: 56px;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    cursor: pointer;
}

.footer__btn:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}


@media (max-width: 1335px) {

    .header__hero_img {
        opacity: 0.5;
        transition: 1s ease-out;
    }

    .content__subtitle {
        color:#13183F
    }

    .footer {
        padding: 36px 16px;
    }
}

@media (max-width: 1029px) {
    .wrapper {
        padding: 16px;
    }

    .header__container {
        display: flex;
        flex-direction: column;
    }

    .content__title {
        font-size: 40px;
        line-height: 50px;
    }

    .content__subtitle {
        font-size: 16px;
    line-height: 162%;
    color: #83869A;
    }

    .main {
        margin-top: 66px;
    }

    .course__intro {
        max-height: 120px;
        font-size: 24px;
        padding: 24px 28px;
    }
 
    .header__hero_img {
        content: url(assets/image-hero-mobile.webp);
        opacity: 1;
        position: relative;
        right: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin-top: 46px;
    }

    .tablet__container ul {
        justify-content: center;
    }

    .footer__logo {
        max-height: 35px;
        max-width: 89px;
    }

    .footer__btn {
        height: 48px;
        width: 140px;
        font-size: 16px;
    }
}
